/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

body,
button,
input,
select,
textarea {
  color: #424242;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}


h3, h5 {
    font-family: 'Stardos Stencil', cursive;
    /* font-family: 'Allerta Stencil', sans-serif; */
    letter-spacing: 2px;
    color: #c9c9c9
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: rgb(33, 33, 37);
}

strong {
  font-weight: bold;
}

.name {
  margin: 0 0 1.5em;
}

img {
  display: block;
  padding: 0.5%;
  border: 0;
  width: 15%;
  height: auto;
}

.section-content {
  padding: 1.4em;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}